<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>


	<div class="BBB">1</div>
	<div class="BBB">2</div>
	<div class="BBB">3</div>
	<div class="BBB">15</div>
	<div class="BBB">sa;cck[</div>
	<div class="BBB">121</div>
	<div class="BBB">sxss  sxa</div>

    <script src="script.js"></script>

</body>

</html>