<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="styles/Terminal/style.css">
    <link rel="stylesheet" href="styles/Terminal/term.css">
    <link rel="stylesheet" href="styles/Terminal/toolbar.css">
    <link rel="stylesheet" href="styles/Paint/style.css">
    <link rel="stylesheet" href="styles/Paint/controlers.css">
</head>
<body>
<div id="root"></div>

<script src="./dist/App.js" type="module"></script>
</body>
</html>
