<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="js.js" defer></script>
</head>
<body>
<input type="color" id="color" value="#E6E770">
<h1> speed : <input type="text" id="speed" value="5"> </h1>
<h1> R : <input type="text" id="R" value="8"> </h1>
<h1> r : <input type="text" id="r" value="256"> </h1>
<h1> d : <input type="text" id="d" value="128"> </h1>
<h1> Width-tassel : <input type="text" id="widthTassel" value="1"> </h1>
<button id="start">Start</button>
<button id="stop">Stop</button>
<canvas id="c1" height="1024px"></canvas>
</body>
</html>


















