body {
	/*background-color: ./bckgrnd.png;*/ 
	background-image: url('./bckgrnd.png'); 
	margin: 0;
	padding: 0;
	overflow-y:hidden;
}

.hidden{
	visibility: hidden;

}

.visible{
	visibility: visible;
}


#GID {
	width: 200px;
	height: 200px;
	margin: 10px;
	border: none;

}

.btns {
	text-align: center;
	vertical-align: middle;
	display: flex;
	margin-left: 10px;
	margin-top: 0px;
	background-color: #165d50;
	cursor: pointer;
	width: 200px;
	height: 25px;
	border-radius: 1px;
	font-size: 15px;
	color: #ffffff;
	border: 0px;
	cursor: pointer;
}


#CreateBtn {
	flex-direction: row;
	align-self: stretch;
}


#ContactCreater {
	display: flex;
	flex-flow: column-wrap;
	flex-direction: row;
	align-content: space-between;
	margin-left: 33%;
	width: 33%;
	height: 30%;
	/*border: solid black 1px;*/
}

#BlockForContact {
	margin: 0.1%;
	display: flex;
	flex-direction: column;

}




input{
	margin-top: 15px;
	box-sizing: border-box;
	width: 50%;
	line-height: 25px;

}

#BlockForGID {
	margin: 0.1%;
	display: flex;
	flex-direction: column;

}


#FormContact {
	flex: 1;
	left: 10%;
	width:  90%;
}


fieldset{
	margin: 10px;
	width: 85%;
	border: none;
}


/*------------------ Contact fiels  --------------*/

#ContactsField {
	/*border: solid white 1px;*/
	top: 70%;
	display: flex;
	color: white;
	font-size: 10px;
	height: 500px;
}

.contacts {
	display: flex;
	width: 28%;
	height: 20%;
	flex-flow: column-wrap;
	flex-direction: row;
	align-content: space-between;
	animation: float_contacts 25s infinite running linear;
/*	flex-direction: row;
	align-self: stretch;*/

}

.contacts:hover{
	animation: float_contacts 0.85s infinite paused linear;
}

#GIDOnContact {
	width: 134px;
	height: 134px;
	margin: 3.333px;
	cursor: pointer;
	margin-left: 10px;
}


#editBtn {
	width: 134px;
	height: 16,7px;
}

#deleteBtn {
	width: 134px;
	height: 16,7px;
	align-items: flex-end;
}

/*----------------------------------------------*/

/*-------------Animation-----------------------*/

@keyframes float_contacts{

  	0%, 100% {margin-top: 1%;}
    23% { margin-top: 11%;}
    50% { margin-top: 25%;}
    58% { margin-top: 20%;}
    75% { margin-top: 15%;}
    /*100%  {margin-top: 10px;}*/
}



