body {
	/*background-color: ./bckgrnd.png;*/ 
	background-image: url('./bckgrnd.png'); 
	margin: 0;
	padding: 0;
}


#GID {
	width: 200px;
	height: 200px;
	border: 3px solid black;
	/*background: black;*/
	margin: 10px;
	border: none;

}

.btns {
	text-align: center;
	vertical-align: middle;
	display: flex;
	margin-left: 10px;
	margin-top: 0px;
	background-color: #165d50;
	width: 200px;
	height: 25px;
	border-radius: 1px;
	font-size: 15px;
	color: #ffffff;
	border: 0px;
	cursor: pointer;
}


#CreateBtn {
	flex-direction: row;
	align-self: stretch;
}


#ContactCreater {
	display: flex;
	flex-flow: column-wrap;
	flex-direction: row;
	align-content: space-between;
	margin-left: 33%;
	width: 33%;
	height: 30%;
	/*border: solid black 1px;*/
}

#BlockForContact {
	margin: 0.1%;
	display: flex;
	flex-direction: column;

}




input{
	margin-top: 15px;
	box-sizing: border-box;
	width: 50%;
	line-height: 25px;

}

#BlockForGID {
	margin: 0.1%;
	display: flex;
	flex-direction: column;

}


#FormContact {
	flex: 1;
	left: 10%;
	width:  90%;
}


fieldset{
	margin: 10px;
	width: 85%;
	/*float: right;*/
	border: none;

}
