#c1 {
	width: 200px;
	height: 200px;
	border: 3px solid black;
	margin: 40px;
	background: black;
}

#GID {
	width: 200px;
	height: 200px;
	border: 3px solid black;
	margin: 40px;
	background: black;
}