
/* body {
	margin: 0;
	padding: 0;
	background-image: url(../imgs/saves/img.png) no-repeat;
	position:fixed;
	overflow: hidden;
} */

#win {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.hiddenBackground{
	opacity: 1;
    transition: all 1s;
}


.showBackground{

	opacity: 0;
    transition: all 1s;
}



/* #root {
	width: 100%;
	height: 100%;
	background-color: rgba(71, 137, 241, 0.2);
	position: absolute;
	display: block;
	z-index: 15;
} */

#paint {
	top: 20%;
	left: 30%;
	width: 1000px;
	height: 700px;
	position: absolute;
	z-index: 15;
}


#paint_canvas {
	border: 1px solid;
	width: 1000px;
	height: 650px;
	background-color: white;
}
