	
audio {
	display: none;
}
	

.list-group {
	margin-top: 12px;
	margin-left: 25%;
	position: absolute;
	top: 0;
	overflow-y: scroll; 
	height: 500px; 
	width: 50%;
	border-radius: 5px 5px 5px 5px;
	z-index: 2;
}

#main {
	height: 50%;
	width: 50%;
	margin-left: 25%;
	margin-top: 30%;
	position: relative;
	z-index: 0;
}


.btns {
	color: #3b6d42;
	background-color: #32334e;
	border-color: #32334e;
}