body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  background: url(https://atgbcentral.com/data/out/197/5731071-darkness-wallpaper.jpg) no-repeat;
  background-size: 100%;
}

#root{
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#canvas{
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

#back{
  display: none;
}

.charging {
  color: #c8f4ff;
  font-family: sans-serif;
}

.not_charging {
    color: #fff;
    font-family: sans-serif;
}
