#term {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 25%;
  width: 45%;
  height: 45%;
  background-color: #20142f23;  /*    #20142fe8*/
  z-index: 8;
}

#term_header {
  background-color: #48457d33;
  width: 100%;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

#logo_term {
  text-align: center;
  position: absolute;
  font-size: 95%;
  left: 43%;
}

.logs_list {
  list-style-type: none;
}

ul, li {
margin: 0;
padding: 0;
}

.logs{}

.logs_with_indent{
  margin-left: 25px;
}

#term_btn_block{
  width: 3%;
  height: 100%;
  margin-top: 0.5%;
  margin-right: 2%;
  flex-direction: column;
}


.btn_contrl {
  background-color: white;
  width: 80%;
  height: 30%;
  margin: 15%;
  margin-top: 3%;
  color: #1e2138;
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 30px  100px  40px  100px;
}

#body_term {
    top: 10%;
    height: 90%;
    width: 100%;
    left: 0;
}
#log_field_term {
    color: #ffffff;  /*#7fad76cc; #d5efd9c4;*/
    font-size: 17.5px;
    overflow-y: scroll;
    scrollbar-color: #282342a8 #282342a8;
    height: 88%;
    width: 100%;
    left: 0;
}

.cat_output {
  font-size: 15px;
  color: #bfcedc;
  margin-left: 5%
}

#log_field_term::-webkit-scrollbar {
  font-family: monospace;
  background-color: #282342a8;  /* #5d0a0a57; */
  width: 8px;
  outline: 5px solid white;
}



#user_input {
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
  top: auto;
  bottom: 0;
}

#user_string {
  justify-content: flex-start;
  position: relative;
  color: white;
  font-size: 17px;
  flex-basis: content;
}


#input_term {
  justify-content: flex-end;
  align-self: flex-end;
  flex-basis: content;
  /* align-items: flex-end; */
  position: relative;
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 17px;
  border: none;
  font-size: 17px;
  color: #d5efd9c4;
  background-color: #0c050e00;
  caret-color: color;
  outline: none;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

.visible {
  visibility: visible;
}

.not_visible {
  visibility: hidden;
}


@media screen and (max-width: 760px) {
  #term {
    left: 7%;
    top: 0%;
    margin-top: 0;
    width: 100%;
    height: 100%;
    font-size: 15.5px;
  }

  #term_header {
    height: 5%;
  }

  #user_input {
    height: 10%;
  }

  #term_control_block {
    display: none;
  }
  #logo_term {
    display: none;
  }

  #user_string{
    margin: 0;
    font-size: 15.5px;
  }
  #log_field_term{
    font-size: 15.5px;
  }
  #user_input{
    position: absolute;
    height: 3.5%;
  }
  #input_term{
    margin-bottom: 1.8%;
    font-size: 15.5px;
  }

  .cat_output{
    font-size: 10px;
  }

}
