<!DOCTYPE html>
<html>
<head>
	<title>Load file</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>

	<div id='main'>
		<div id='input'>
			<form action="" method="post" enctype="multipart/form-data">
    			<input type="text" name="field1">
    			<input type="file" name="my_file">
    			<button type="submit">Send</button>
			</form>
		</div>
		<div id='before'></div>
		<div id='after'> </div>
	</div>
	<canvas width="1849px" height="929px"></canvas>

	<script type="text/javascript" src='./src.js'></script>
</body>
</html>