
body {
	margin: 0;
	padding: 0;

}


#root {
	width: 100%;
	height: 100%;
	background-color: #8f8fb7;
	position: absolute;
	display: block;
}

#paint {
	top: 20%;
	left: 30%;
	width: 1000px;
	height: 700px;
	position: absolute;
}


#canvas {
	border: 1px solid;
	width: 100%;
	height: 95%;
	background-color: white;
}