body{
  padding: 0;
  margin: 0;
  overflow-x: none;
  overflow-y: none;
}

#root{
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#canvas{
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

#back{
  display: none;
}

.charging {
  /* color: #fff; */
  color: #c8f4ff;
  font-family: sans-serif;
}

.not_charging {
    /* color: #d5efd9c4; */
    color: #fff;
    font-family: sans-serif;
}
