#taskbar{
  position: absolute;
  height: 100%;
  width: 2.3%;
  top: 0;
  left: 0;
  background-color: #282342a8;
  /* #3a0c0cc7; */
  z-index: 16;
}

.taskbar_info_li{
  margin-top: 68%;
  font-size: 85%;
  text-align: center;
}

#energy{
  top: 70%;
  position: absolute;
  height: 25%;
  width: 100%;
  background: url('../energy.png') no-repeat 100% 100% ;
  background-size: cover;
  background-position: center;
}


#clock {
  top: 50%;
  position: absolute;
  height: 15%;
  width: 100%;
  color: #d5efd9c4;
  font-family: sans-serif;
}


#clock ul {
  margin-left: 25%;
}


#logo {
  position: absolute;
  height: 4.5%;
  width: 100%;
  background-color: white;
}


#logo img {
  margin: 1%;
  width: 98%;
  height: 98%;

}



#taskbar_info {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 100%;
}
